<% if action == 'show' %>
  <a href="<%= users_url %>">Users Index Page</a>
<% else %>
  <a href="<%= user_url(banana)%>">Users Show Link</a>
<% end %>
<ul class='user-attributes'>
  <li><%= banana.username %></li>
  <li><%= banana.age %></li>
  <li><%= banana.email %></li>
</ul>
